.zhuce{
    margin-top:30px; 
	width: 600px;
	height: 500px;
	background: #fff;
	margin-left: 25%;
	/* position: absolute; */
	top: 20px;	
	padding: 20px 30px 40px;
}
.zhuce h2{
	font-family: "微软雅黑";
	font-weight: 100;
	border-bottom: 1px solid #cccccc;
}
.zhuce ul{
	margin:20px 100px;
}
.zhuce input{
	height: 30px;
	border-radius: 5px;
	width: 380px;
	border: 1px solid #CCCCCC;
	padding-left: 10px;
}
.zhuce li:nth-child(1){
	margin-bottom: 10px;
}
.zhuce ul li{
	list-style: none;
}
.zhuce .gj{
	width: 100px;
}
.zhuce .sjh{
	margin-left: 30px;
	width: 210px;
}
.zhuce li:nth-child(2){
    height: 34px;
	margin-bottom: 30px;
	display: flex;	
}
.zhuce .wt{
	width: 100px;
	float: left;
}
.zhuce li:nth-child(2) div{
	float: left;
	height: 30px;
	width: 80px;
	margin-left: 35px;
}
.zhuce li:nth-child(2) button{
	height: 30px;
	width: 120px;
	border-radius: 5px;
	background: #5bc0de;
	border: none;
	color: #fff;
}
.zhuce li:nth-child(3){
    margin-bottom: 10px;	
}
.zhuce li:nth-child(4){
    margin-bottom: 10px;	
}
.zhuce li:nth-child(5){
    margin-bottom: 10px;	
}
.zhuce li:nth-child(6){
    margin-bottom: 30px;	
}
.zhuce li:nth-child(7){
    margin-bottom: 10px;	
}
.zhuce li:nth-child(7) button{
    height: 40px;
    width: 395px;
    background: #5bc0de;
    border: none;	
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
}
.zhuce li:nth-child(8){
	font-size: 14px;
}

